{
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./src/css/input.css",
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "ignore"
}
